<!DOCTYPE html>
<html>
  <head>
    <title>Belch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <script type="text/javascript">
    window.signup_img_1 = "<%= image_url('signup_illustration.png') %>";
    window.footer_img_1 = "<%= image_url('footer_image.png') %>";
    window.logo_img_1 = "<%= image_url('logo.png') %>";
    window.fivestar_img_1 = "<%= image_url('5-star.png') %>";
    window.fourstar_img_1 = "<%= image_url('4-star.png') %>";
    window.threestar_img_1 = "<%= image_url('3-star.png') %>";
    window.twostar_img_1 = "<%= image_url('2-star.png') %>";
    window.onestar_img_1 = "<%= image_url('1-star.png') %>";
    window.review_img_1 = "<%= image_url('review.png') %>";
    window.profilepic_img_1 = "<%= image_url('profile-pic.png') %>";
    window.phone_img_1 = "<%= image_url('phone.png') %>";
    window.website_img_1 = "<%= image_url('website.png') %>";
    window.ratingfive_img_1 = "<%= image_url('rating5.png') %>";
    window.ratingfour_img_1 = "<%= image_url('rating4.png') %>";
    window.ratingthree_img_1 = "<%= image_url('rating3.png') %>";
    window.ratingtwo_img_1 = "<%= image_url('rating2.png') %>";
    window.ratingone_img_1 = "<%= image_url('rating1.png') %>";

    window.camera_img_1 = "<%= image_url('camera.png') %>";
    window.share_img_1 = "<%= image_url('share.png') %>";
    window.save_img_1 = "<%= image_url('save.png') %>";

    window.angellist = "<%= image_url('angellist.png') %>";
    window.linkedin = "<%= image_url('linkedin.png') %>";
    window.github = "<%= image_url('github.png') %>";
    window.portfolio = "<%= image_url('portfolio.png') %>";

    window.search = "<%= image_url('search.png') %>";

    window.directions_img_1 = "<%= image_url('directions.png') %>";
    window.message_img_1 = "<%= image_url('message.png') %>";
    window.review_rating_user_img_1 = "<%= image_url('review-rating-user.png') %>";
    window.review_rating_img_1 = "<%= image_url('review-rating.png') %>";
    window.small_logo_img_1 = "<%= image_url('small-logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
