<!DOCTYPE html>
<html>
  <head>
    <title>Belch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.signup_img_1 = "<%= image_url('signup_illustration.png') %>";
    window.footer_img_1 = "<%= image_url('footer_image.png') %>";
    window.logo_img_1 = "<%= image_url('logo.png') %>";
    window.fivestar_img_1 = "<%= image_url('5-star.png') %>";
    window.fourstar_img_1 = "<%= image_url('4-star.png') %>";
    window.threestar_img_1 = "<%= image_url('3-star.png') %>";
    window.twostar_img_1 = "<%= image_url('2-star.png') %>";
    window.onestar_img_1 = "<%= image_url('1-star.png') %>";
    window.review_img_1 = "<%= image_url('review.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
